.menuDesktop {
    background-color: #0047AB;
    padding: 0.5rem;
    width: 100%;
    margin: 0 auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    transition: background-color 0.3s ease; /* Transição suave para mudança de fundo */
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0.5rem;
}

header .logo svg {
    text-decoration: none;
    color: #FFF;
    font-size: 4.5rem;
}

header .menu ul {
    display: flex;
    padding-top: 20px;
}

header .menu ul li {
    margin-left: 3rem;
    font-size: 1.3rem;
    list-style: none;
}

header .menu .link {
    text-decoration: none;
    color: #FFF;
    padding: 10px 10px;
    transition: 0.3s ease;
}

header .menu .link:hover {
    border-radius: 30px;
    box-shadow: 0 0 10px #FFF;
}

/* Estilos para o menu mobile */
.menuMobile {
    background-color: #0047AB;
    position: fixed;
    top: 60px; 
    left: 0;
    width: 100%;
    z-index: 999;
    padding: 20px 0; 
    animation: slideIn 0.3s ease; 
}

.menuMobile ul {
    display: flex;
    flex-direction: column; 
    padding: 30px 10px;
}

.menuMobile ul li {
    margin: 15px 0; 
}

.menuMobile .link {
    text-decoration: none;
    color: #FFF;
    padding: 10px 15px;
    transition: background 0.3s ease;
}

.menuMobile .link:hover {
    background: rgba(255, 255, 255, 0.2); 
    border-radius: 30px;
}

/* Botão do menu mobile */
.mobileMenuButton {
    display: none; 
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}

.closeButton {
    background: none;
    border: none;
    color: white;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
}

/* Media Queries */
@media (max-width: 430px) {
    .menuDesktop .menu {
        display: none; 
    }
    
    .mobileMenuButton {
        display: block; 
    }
}

@keyframes slideIn {
    from {
        transform: translateY(-20px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
